body{
    background-image: url(Textures/Skies/SKY6439.png);
    background-size: cover;
    background-repeat: no-repeat;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

td {
    font-family: 'Tiny5';
    border: 2px solid #ddd;
    padding: 10px;
    color: gold;
    font-size: 28px;
}

tr {
    border: 2px solid #ddd;
}

tr:hover {
    transition: 0.25s;
    background-color: slateblue;
}

th {
    border: 2px solid #ddd;
    font-family: 'Tiny5';
    font-size: 48px;
    background-color: blue;
    color: gold;
    padding: 10px;
}

button:hover {
    background: rgb(255, 0, 0);
    transform: scale(1.1);
}

button{
    background-image: linear-gradient(to bottom, blue, rgb(255, 115, 0));
    height: 48px;
    min-width: 76px;
    transition: 0.3s;
    padding: 10px;
    font-family: 'Tiny5';
    font-size: 20px;
    background-color: red;
    color: gold;
}

