body{
    font-family: 'Tiny5';
    color: white;
    font-size: 28px;
    background-image: url(Textures/Assets/SKY6222.png);
    background-size: cover;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

td {
    font-family: 'Tiny5';
    border: 2px solid #ddd;
    padding: 10px;
    color: white;
    font-size: 28px;
}

tr {
    border: 2px solid #ddd;
}

tr:hover {
    transition: 0.25s;
    background-color: darkslategray;
}

th {
    border: 2px solid #ddd;
    font-family: 'Tiny5';
    font-size: 48px;
    background-color: black;
    color: white;
    padding: 10px
}

button:hover {
    background: red;
    transform: scale(1.1);
}

button{
    background-image: linear-gradient(to bottom, red, black);
    height: 48px;
    min-width: 76px;
    transition: 0.3s;
    padding: 10px;
    font-family: 'Tiny5';
    font-size: 28px;
    background-color: red;
    color: white;
}