body{
    font-family: 'Sixtyfour';
    color: gold;
    font-size: 28px;
    background-image: url(Textures/Assets/mario.gif);
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

td{
    font-family: 'Sixtyfour';
    border: 2px solid #ddd;
    padding: 10px;
    color: gold;
    font-size: 16px;
}

tr {
    border: 2px solid #ddd;
}

tr:hover {
    transition: 0.25s;
    background-color: #626a64;
}

th{
    border: 2px solid #ddd;
    font-family: 'Sixtyfour';
    font-size: 36px;
    padding: 5px;
    background-color: goldenrod;
    color: white;
}

button:hover {
    background: goldenrod;
    transform: scale(1.1);
}

button{
    background-image: linear-gradient(to bottom, red, rgb(95, 0, 0));
    height: 48px;
    min-width: 76px;
    transition: 0.3s;
    padding: 10px;
    font-family: 'Sixtyfour';
    font-size: 16px;
    background-color: goldenrod;
    color: gold;
}