body{
    font-family: 'Special Elite';
    color: rgb(236, 197, 152);
    font-size: 28px;
    background-image: url(Textures/Assets/chrysalis.gif);
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

td{
    font-family: 'Special Elite';
    border: 2px solid #ddd;
    padding: 10px;
    color: white;
    font-size: 28px;
}

tr {
    border: 2px solid #ddd;
}

tr:hover {
    transition: 0.25s;
    background-color: darkslategray;
}

th{
    border: 2px solid #ddd;
    font-family: 'Special Elite';
    font-size: 48px;
    padding: 10px;
    background-color: gray;
    color: white;
}

button:hover {
    background: darkslateblue;
    transform: scale(1.1);
}

button{
    background-image: linear-gradient(to bottom, darkslategray, silver);
    height: 48px;
    min-width: 76px;
    transition: 0.3s;
    padding: 10px;
    font-family: 'Special Elite';
    font-size: 28px;
    background-color: darkslateblue;
    color: white;
}

h1 {
    text-align: center;
}